<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pequeniatv">

    <uses-feature android:name="android.software.leanback" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/banner"
        android:banner="@mipmap/banner"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PequeniaTv">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Example.Leanback.CustomTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LiveVideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.AppCompat"
            />

        <activity android:name=".IptvActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.AppCompat"
            />

    </application>

</manifest>